<nav id="menu" class="menu-container">
    <ul class="menu">
        <li class="menu-item">
            <a href="#Inicio" class="active">INICIO</a>
        </li>
        <li class="menu-item">
            <a href="#QuienesSomos">¿QUIENES SOMOS?</a>
        </li>
        <li class="menu-item">
            <a href="#Productos">PRODUCTOS</a>
        </li>
        <li class="menu-item">
            <a href="#Contacto">CONTACTO</a>
        </li>
    </ul>
    <div id="social" class="social">
        <a href="https://www.facebook.com/ObrasHebel/?hc_ref=ARQbPuznjIosTWy7l51FR8KSasmr0vd9sfVgh1pnlrSc6bRydsMSY-vgUaW_hdNQsWE&fref=nf" target="_blank"><img src="../img/facebook.svg" alt="facebook"></a>
        <a href="https://www.linkedin.com/company/25021741/" target="_blank"><img src="../img/linkedin-logo.svg" alt="linkedin"></a>
    </div>
</nav>
<section id="Inicio">
    <div class="Heroe">
        <div class="row">
            <div class="col-md-6">
                <div class="Heroe-1">
                    <span class="Heroe-1-text">LÍDER EN CONCRETO CELULAR A NIVEL MUNDIAL</span>
                    <div class="Heroe-aside">
                        <span>Tecnología<br>alemana</span>
                        <img src="../img/alemania.png" alt="alemania">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="Heroe-2">
                    <img src="../img/Hebel.png" alt="Hebel">
                </div>
            </div>
            <div class="col-md-3">
                <div class="Heroe-3">
                    <div class="Heroe-3">
                        <img src="../img/xella.png" alt="xella">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="pageContainer" class="PageContainer">
    <div class="PageContainer-content">
        <section id="beneficios" class="Beneficios">
            <h3 class="Beneficios-title">PARA NAVES INDUSTRIALES</h3>
            <h4 class="Beneficios-subtitle">SISTEMAS SUSTENTABLES DE PANEL DE MURO</h4>
            <div class="orangeBox">
                <div class="orangeBox-item">MÁXIMA RESISTENCIA AL FUEGO. CERTIFICACIÓN UL.</div>
                <div class="orangeBox-item">4 VECES MÁS LIGERO QUE EL CONCRETO TRADICIONAL.</div>
                <div class="orangeBox-item">GRANDES AHORROS EN MANTENIMIENTO Y MANO DE OBRA.</div>
                <div class="orangeBox-item">SUSTENTABLE, OTORGA PUNTOS LEED.</div>
                <div class="orangeBox-item">AISLAMIENTO TÉRMICO Y ACÚSTICO.</div>
            </div>
        </section>
        <section id="Contacto" class="Contacto">
            <div class="Contacto-hgroup">
                <h4 class="Contacto-title">LA MEJOR OPCIÓN EN PANEL DE MURO PARA<br>NAVES INDUSTRIALES.COTIZA CON NOSOTROS.</h4>
            </div>
            <div class="Contacto-boxContainer">
                <div class="Contacto-box" style="padding: 15px;">
                    <div class="Contacto-item">
                        <div class="Contacto-item-content">
                            <img src="../img/phone.png">
                        </div>
                        <div class="Contacto-item-content">
                            <h4>COAHUILA,<br>NUEVO LEÓN</h4>
                            <div>Ing. Raul Pedroza Cantu</div>
                            <div><em>raul.pedroza@xella.com</em></div>
                            <div>Cel. <a href="tel:+5218182596034">(81) 8259.6034</a></div>
                        </div>
                    </div>
                    <div class="Contacto-item">
                        <div class="Contacto-item-content">
                            <img src="../img/phone.png">
                        </div>
                        <div class="Contacto-item-content">
                            <h4>BAJA CALIFORNIA NORTE,<br>SONORA, CHIHUAHUA</h4>
                            <div>Ramiro Figueroa</div>
                            <div>Cel. <a href="tel:+5218110801614">(044) 811.080.1614</a></div>
                        </div>
                    </div>
                </div>
                <div class="Contacto-box">
                    <form id="frm-contacto" action="email.php">
                        <div class="form-group">
                            <input type="text" name="nombre" required class="form-input" placeholder="Nombre">
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" required class="form-input" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input type="text" name="asunto" required class="form-input" placeholder="Asunto">
                        </div>
                        <div class="form-group">
                            <textarea name="mensaje" id="" cols="5" rows="5" required class="form-input" placeholder="Mensaje"></textarea>
                        </div>
                        <button type="submit">ENVIAR</button>
                    </form>
                    <a href="https://api.whatsapp.com/send?phone=5218110291003&text=Quiero%20más%20información" class="Contacto-box-floatButton" target="_blank">
                        <span>ESCRÍBENOS POR WHATSAPP</span>
                        <img src="../img/whats.png">                        
                    </a>
                </div>
            </div>
        </section>
        <section id="panelMuro" class="panelMuro">
            <div class="panelMuro-img"></div>
            <div class="panelMuro-info">
                <div class="panelMuro-info-title">Hebel ® - Panel para Muro</div>
                <div class="panelMuro-info-text">Revestimiento ligero.
                    <br>Reduce la carga de la estrucutra principal.</div>
                <a class="panelMuro-button" href="http://www.hebel.mx/es/content/panel_hebel_para_muro_1359.php" target="_blank">Conoce más</a>
            </div>
        </section>
        <h3 class="proyectosTitle">CONOCE ALGUNOS DE NUESTROS PROYECTOS</h3>
        <section id="proyectos">
            <!-- Slider main container -->
            <div class="swiper-container">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide swiper-slide-image" style="background-image:url(www/img/slide/Edificio-Intel.png)">
                    </div>
                    <div class="swiper-slide swiper-slide-image" style="background-image:url(www/img/slide/HEINEKEN_CHI.png)">
                    </div>
                    <div class="swiper-slide swiper-slide-image" style="background-image:url(www/img/slide/KIMBERLY-CLARK---QRO.png)">
                    </div>
                    <div class="swiper-slide swiper-slide-image" style="background-image:url(www/img/slide/Kraft_MTY.png)">
                    </div>
                    <div class="swiper-slide swiper-slide-image" style="background-image:url(www/img/slide/LG-MTY.png)">
                    </div>
                    <div class="swiper-slide swiper-slide-image" style="background-image:url(www/img/slide/TREVIÑO-MTY.png)">
                    </div>
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>
                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
                <!-- If we need scrollbar -->
                <div class="swiper-scrollbar"></div>
            </div>
        </section>
        <h3 class="proyectosTitle">ALGUNOS DE NUESTROS CLIENTES</h3>
        <section id="clientes">
            <!-- Slider main container -->
            <div class="swiper-container">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide swiper-slide-content">
                        <div class="swiper-slide swiper-slide-content">
                            <div class="swiper-logos">
                                <img src="../img/logos/1.png" />
                                <img src="../img/logos/2.png" />
                                <img src="../img/logos/3.png" />
                                <img src="../img/logos/4.png" />
                                <img src="../img/logos/5.png" />
                                <img src="../img/logos/6.png" />
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide swiper-slide-content">
                        <div class="swiper-logos">
                            <img src="../img/logos/7.png" />
                            <img src="../img/logos/8.png" />
                            <img src="../img/logos/9.png" />
                            <img src="../img/logos/10.png" />
                            <img src="../img/logos/11.jpg" />
                        </div>
                    </div>
                    <!-- If we need pagination -->
                    <div class="swiper-pagination"></div>
                    <!-- If we need navigation buttons -->
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                    <!-- If we need scrollbar -->
                    <div class="swiper-scrollbar"></div>
                </div>
        </section>
        <section id="QuienesSomos" class="QuienesSomos">
            <div class="QuienesSomos-left"></div>
            <div class="QuienesSomos-right">
                <h2>¿QUIÉNES SOMOS?</h2>
                <p>Con más de 80 años de experiencia y presencia en más de 30 países, Xella es una empresa líder en el mundo de la construcción a nivel global, siendo una de las pocas empresas en operar su propia tecnología y procesos, avalados por su centro de investigación en Alemania.</p>
            </div>
        </section>
        <section id="certificaciones" class="Certificaciones">
            <h4 class="Certificaciones-title">Certificaciones y normatividad aplicable</h4>
            <div class="Certificaciones-cerContainer">
                <div class="Certificaciones-cer" data-aos="flip-left"><img src="../img/cer-1.png" alt=""></div>
                <div class="Certificaciones-cer" data-aos="flip-left"><img src="../img/cer-2.png" alt=""></div>
                <div class="Certificaciones-cer" data-aos="flip-left"><img src="../img/cer-3.png" alt=""></div>
                <div class="Certificaciones-cer" data-aos="flip-left"><img src="../img/cer-4.png" alt=""></div>
                <div class="Certificaciones-cer" data-aos="flip-left"><img src="../img/cer-5.png" alt=""></div>
                <div class="Certificaciones-cer" data-aos="flip-left"><img src="../img/cer-6.png" alt=""></div>
                <div class="Certificaciones-cer" data-aos="flip-left"><img src="../img/cer-7.png" alt=""></div>
            </div>
        </section>
        <h4 id="Productos" class="productosTitle">PRODUCTOS HEBEL</h4>
        <section class="productos">
            <div class="productos-container">
                <a href="http://www.hebel.mx/es/content/block_o_hebel_1344.php" class="productos-item" target="_blank">Hebel® (Sólido, O y U)</a>
                <a href="https://www.hebel.mx/es/content/block_practimuro_1345.php" class="productos-item" target="_blank">Hebel® Practimuro </a>
                <a href="https://www.hebel.mx/es/content/placa_termoaislante__1370.php" class="productos-item" target="_blank">Hebel® Placa termoaislante</a>
                <a href="https://www.hebel.mx/es/content/hebel_board_1365.php" class="productos-item" target="_blank">Hebel® Power Panel</a>
                <a href="http://www.hebel.mx/es/content/panel_hebel_para_muro_1359.php" class="productos-item" target="_blank">Hebel® Panel para Muro </a>
                <a href="https://www.hebel.mx/es/content/panel_hebel_para_losa_1360.php" class="productos-item" target="_blank">Hebel® Panel para losa</a>
            </div>
        </section>
        <section id="360" class="section360">
            <h4>Servicio 360º</h4>
            <p>Agregamos valor a tu proyecto o servicio:
                <ul>
                    <li>Especificación </li>
                    <li>Técnico e ingeniería </li>
                    <li>Capacitación y asistencia </li>
                    <li>Servicio post venta.</li>
                </ul>
            </p>
        </section>
        </div>
    </div>