<nav id="menu" class="menu-container">
    <ul class="menu">
        <li class="menu-item">
            <a href="#Inicio" class="active">INICIO</a>
        </li>
        <li class="menu-item">
            <a href="#QuienesSomos">¿QUIENES SOMOS?</a>
        </li>
        <li class="menu-item">
            <a href="#Productos">PRODUCTOS</a>
        </li>
        <li class="menu-item">
            <a href="#Contacto">CONTACTO</a>
        </li>
    </ul>
    <div id="lang" class="lang">
        <a href="#ES" class="active">ES</a>
        <a href="#EN">EN</a>
    </div>
    <div id="social" class="social">
        <a href="XXXXXXXXX"><img src="../img/facebook.svg" alt="facebook"></a>
        <a href="XXXXXXXXX"><img src="../img/twitter.svg" alt="twitter"></a>
    </div>
</nav>
<section id="Inicio">
    <div class="Heroe">
        <div class="row">
            <div class="col-md-6">
                <div class="Heroe-1">
                    <span class="Heroe-1-text">LÍDER EN CONCRETO CELULAR A NIVEL MUNDIAL</span>
                    <div class="Heroe-aside">
                        <span>Tecnología<br>alemana</span>
                        <img src="../img/alemania.png" alt="alemania">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="Heroe-2">
                    <img src="../img/Hebel.png" alt="Hebel">
                </div>
            </div>
            <div class="col-md-3">
                <div class="Heroe-3">
                    <div class="Heroe-3">
                        <img src="../img/xella.png" alt="xella">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="beneficios" class="Beneficios">
    <h3 class="Beneficios-title">EXPERTOS EN CALIDAD E INNOVACIÓN</h3>
    <h4 class="Beneficios-subtitle">PROPIEDADES ÚNICAS EN UN SOLO SISTEMA CON TECNOLOGÍA ALEMANA</h4>
    <div class="Beneficios-container">
        <div class="Beneficios-beneficio">
            <img src="../img/icon.png" alt="icon.png">
            <span>AISLAMIENTO TÉRMICO</span>
        </div>
        <div class="Beneficios-beneficio">
            <img src="../img/icon.png" alt="icon.png">
            <span>RESISTENCIA ESTRUCTURAL</span>
        </div>
        <div class="Beneficios-beneficio">
            <img src="../img/icon.png" alt="icon.png">
            <span>RESISTENCIA AL FUEGO</span>
        </div>
        <div class="Beneficios-beneficio">
            <img src="../img/icon.png" alt="icon.png">
            <span>MATERIAL LIGERO</span>
        </div>
        <div class="Beneficios-beneficio">
            <img src="../img/icon.png" alt="icon.png">
            <span>AISLAMIENTO ACÚSTICO</span>
        </div>
        <div class="Beneficios-beneficio">
            <img src="../img/icon.png" alt="icon.png">
            <span>RESISTENCIA A LA HUMEDAD</span>
        </div>
        <div class="Beneficios-beneficio">
            <img src="../img/icon.png" alt="icon.png">
            <span>ECOLÓGICO Y SUSTENTABLE</span>
        </div>
    </div>
</section>
<section id="quienesSomos" class="QuienesSomos">
    <div class="row">
        <div class="col-md-6">
            <ul>
                <li>Muros Corta-Fuego</li>
                <li>Leed</li>
                <li>Eficiencia Energética </li>
                <li>Menor mano de obra</li>
                <i>Rapidez en construcción</i>
            </ul>
        </div>
        <div class="col-md-6">
            <h2>¿QUIÉNES SOMOS?</h2>
            <p>Con más de 80 años de experiencia y presencia en más de 30 países, Xella es una empresa líder en el mundo de la construcción a nivel global, siendo una de las pocas empresas en operar su propia tecnología y procesos, avalados por su centro de investigación en Alemania.</p>
        </div>
    </div>
</section>
<section id="360" class="360">
    <h4>Servicio 360º</h4>
    <p>Agregamos valor a tu proyecto o servicio:
        <ul>
            <li>Especificación </li>
            <li>Técnico e ingeniería </li>
            <li>Capacitación y asistencia </li>
            <li>Servicio post venta.</li>
        </ul>
    </p>
</section>
<section id="produtos" class="Productos">
    <div class="Producto-row">
        <div class="Producto-text">
            <span>Hebel® Block (Sólido, O y U)</span>
            <span>Único block eficiente en aislamiento térmico.<br>Menor mano de obra.</span>
            <button>CONOCE MÁS</button>
        </div>
        <div class="Producto-img"></div>
        <div class="Producto-text">
            <span>Hebel® Block (Sólido, O y U)</span>
            <span>Único block eficiente en aislamiento térmico.<br>Menor mano de obra.</span>
            <button>CONOCE MÁS</button>
        </div>
        <div class="Producto-img"></div>
    </div>
    <div class="Producto-row">
        <div class="Producto-img"></div>
        <div class="Producto-text">
            <span>Hebel®  Power Panel </span>
            <span>Única fachada ligera de concreto.</span>
            <button>CONOCE MÁS</button>
        </div>
        <div class="Producto-img"></div>
        <div class="Producto-text">
            <span>Hebel® Panel para Muro</span>
            <span>Revestimiento ligero.<br>Reduce la carga de la estructura principal.</span>
            <button>CONOCE MÁS</button>
        </div>
    </div>
    <div class="Producto-row">
        <div class="Producto-text">
            <span>Hebel® Panel para Losa</span>
            <span>Losas térmicas con la<br>instalación más rápida y<br>Vmás económica</span>
            <button>CONOCE MÁS</button>
        </div>
        <div class="Producto-img"></div>
        <div class="Producto-text">
            <span>Hebel®  Placa Termoasilante</span>
            <span>Recubrimiento sólido que aisla del frío y/o calor generando ahorros de por vida.</span>
            <button>CONOCE MÁS</button>
        </div>
        <div class="Producto-img"></div>
    </div>
</section>
<section id="contacto" class="Contacto">
    <h4>CONTáCTANOS</h4>
    <p>Cotiza tu proyecto con nosotros <a href="#">aquí</a></p>
    <div class="row">
        <div class="col-md-4">
            <label>TELÉFONO</label>
            <p>Monterrey y área metropolitana: (81) 8399 2400</p>
            <p>Interior de la república: 01 800 00 XELLA</p>
            <label>CORREO</label>
            <p>ventasmexico@xella.com</p>
        </div>
        <div class="col-md-8">
            <form action="">
                <div class="form-group">
                    <input type="text" name="nombre" required>
                </div>
                <div class="form-group">
                    <input type="email" name="email" required>
                </div>
                <div class="form-group">
                    <input type="text" name="asunto" required>
                </div>
                <div class="form-group">
                    <textarea name="mensaje" id="" cols="30" rows="10" required></textarea>
                </div>
                <button>ENVIAR</button>
            </form>
        </div>
    </div>
</section>
<section id="certificaciones" class="Certificaciones">
    <h4>Cerfitificaciones y normatividad aplicable</h4>
    <div class="Certificaciones-cer"><img src="../img/icon.png" alt=""></div>
    <div class="Certificaciones-cer"><img src="../img/icon.png" alt=""></div>
    <div class="Certificaciones-cer"><img src="../img/icon.png" alt=""></div>
    <div class="Certificaciones-cer"><img src="../img/icon.png" alt=""></div>
    <div class="Certificaciones-cer"><img src="../img/icon.png" alt=""></div>
    <div class="Certificaciones-cer"><img src="../img/icon.png" alt=""></div>
    <div class="Certificaciones-cer"><img src="../img/icon.png" alt=""></div>
</section>
<footer>
    <p>Hebel © All Rights Reserved</p>
</footer>