<nav id="menu" class="menu-container">
    <ul class="menu">
        <li class="menu-item">
            <a href="#Inicio" class="active">INICIO</a>
        </li>
        <li class="menu-item">
            <a href="#QuienesSomos">¿QUIENES SOMOS?</a>
        </li>
        <li class="menu-item">
            <a href="#Productos">PRODUCTOS</a>
        </li>
        <li class="menu-item">
            <a href="#Contacto">CONTACTO</a>
        </li>
    </ul>
    <div id="lang" class="lang">
        <a href="http://solucioneshebel.com/" class="active">ES</a>
        <a href="http://hebelsolutions.com/">EN</a>
    </div>
    <div id="social" class="social">
        <a href="https://www.facebook.com/ObrasHebel/?hc_ref=ARQbPuznjIosTWy7l51FR8KSasmr0vd9sfVgh1pnlrSc6bRydsMSY-vgUaW_hdNQsWE&fref=nf" target="_blank"><img src="../img/facebook.svg" alt="facebook"></a>
        <a href="https://www.linkedin.com/company/25021741/" target="_blank"><img src="../img/linkedin-logo.svg" alt="linkedin"></a>
    </div>
</nav>
<section id="Inicio">
    <div class="Heroe">
        <div class="row">
            <div class="col-md-6">
                <div class="Heroe-1">
                    <span class="Heroe-1-text">LÍDER EN CONCRETO CELULAR A NIVEL MUNDIAL</span>
                    <div class="Heroe-aside">
                        <span>Tecnología<br>alemana</span>
                        <img src="../img/alemania.png" alt="alemania">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="Heroe-2">
                    <img src="../img/Hebel.png" alt="Hebel">
                </div>
            </div>
            <div class="col-md-3">
                <div class="Heroe-3">
                    <div class="Heroe-3">
                        <img src="../img/xella.png" alt="xella">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="pageContainer" class="PageContainer">
    <div class="PageContainer-content">
        <section id="beneficios" class="Beneficios">
            <h3 class="Beneficios-title">EXPERTOS EN CALIDAD E INNOVACIÓN</h3>
            <h4 class="Beneficios-subtitle">PROPIEDADES ÚNICAS EN UN SOLO SISTEMA CON TECNOLOGÍA ALEMANA</h4>
            <div class="Beneficios-container">
                <div class="Beneficios-beneficio">
                    <img src="../img/TERMICO.png" alt="icon.png" data-aos="flip-left">
                    <span>AISLAMIENTO TÉRMICO</span>
                </div>
                <div class="Beneficios-beneficio">
                    <img src="../img/RESISTENTE.png" alt="icon.png" data-aos="flip-left">
                    <span>RESISTENCIA ESTRUCTURAL</span>
                </div>
                <div class="Beneficios-beneficio">
                    <img src="../img/RESISTENTE AL FUEGO.png" alt="icon.png" data-aos="flip-left">
                    <span>RESISTENCIA AL FUEGO</span>
                </div>
                <div class="Beneficios-beneficio">
                    <img src="../img/LIGERO.png" alt="icon.png" data-aos="flip-left">
                    <span>MATERIAL LIGERO</span>
                </div>
                <div class="Beneficios-beneficio">
                    <img src="../img/ACUSTICO.png" alt="icon.png" data-aos="flip-left">
                    <span>AISLAMIENTO ACÚSTICO</span>
                </div>
                <div class="Beneficios-beneficio">
                    <img src="../img/RESISTENTE A LA HUMEDAD.png" alt="icon.png" data-aos="flip-left">
                    <span>RESISTENCIA A LA HUMEDAD</span>
                </div>
                <div class="Beneficios-beneficio">
                    <img src="../img/ECOLOGICO.png" alt="icon.png" data-aos="flip-left">
                    <span>ECOLÓGICO Y SUSTENTABLE</span>
                </div>
            </div>
        </section>
        <section id="QuienesSomos" class="QuienesSomos">
            <div class="QuienesSomos-left">
                <ul>
                    <li>Muros Corta-Fuego</li>
                    <li>Leed</li>
                    <li>Eficiencia Energética </li>
                    <li>Menor mano de obra</li>
                    <li>Rapidez en construcción</li>
                </ul>
            </div>
            <div class="QuienesSomos-right">
                <h2>¿QUIÉNES SOMOS?</h2>
                <p>Con más de 80 años de experiencia y presencia en más de 30 países, Xella es una empresa líder en el mundo de la construcción a nivel global, siendo una de las pocas empresas en operar su propia tecnología y procesos, avalados por su centro de investigación en Alemania.</p>
            </div>
        </section>
        <section id="360" class="section360">
            <h4>Servicio 360º</h4>
            <p>Agregamos valor a tu proyecto o servicio:
                <ul>
                    <li>Especificación </li>
                    <li>Técnico e ingeniería </li>
                    <li>Capacitación y asistencia </li>
                    <li>Servicio post venta.</li>
                </ul>
            </p>
        </section>
        <section id="Productos" class="Productos">
            <div class="Productos-title">PRODUCTOS</div>
            <div class="Producto-row">
                <div class="Producto-text">
                    <div>
                        <span class="Producto-text-title">Hebel® Block (Sólido, O y U)</span>
                        <span class="Producto-text-content">Único block eficiente en aislamiento térmico.</span>
                        <span class="Producto-text-content">Menor mano de obra.</span>
                        <a href="#Contacto">CONOCE MÁS</a>
                    </div>
                </div>
                <div class="Producto-img img-1"></div>
                <div class="Producto-text">
                    <div>
                        <span class="Producto-text-title">Hebel® Practimuro</span>
                        <span class="Producto-text-content">Muro paara interior que combina ligereza con solidez.</span>
                        <a href="#Contacto">CONOCE MÁS</a>
                    </div>
                </div>
                <div class="Producto-img img-2"></div>
            </div>
            <div class="Producto-row">
                <div class="Producto-img img-3"></div>
                <div class="Producto-text">
                    <div>
                        <span class="Producto-text-title">Hebel®  Power Panel </span>
                        <span class="Producto-text-content">Única fachada ligera de concreto.</span>
                        <a href="#Contacto">CONOCE MÁS</a>
                    </div>
                </div>
                <div class="Producto-img img-4"></div>
                <div class="Producto-text">
                    <div>
                        <span class="Producto-text-title">Hebel® Panel para Muro</span>
                        <span class="Producto-text-content">Revestimiento ligero.<br>Reduce la carga de la estructura principal.</span>
                        <a href="#Contacto">CONOCE MÁS</a>
                    </div>
                </div>
            </div>
            <div class="Producto-row">
                <div class="Producto-text">
                    <div>
                        <span class="Producto-text-title">Hebel® Panel para Losa</span>
                        <span class="Producto-text-content">Losas térmicas con la<br>instalación más rápida y<br>más económica</span>
                        <a href="#Contacto">CONOCE MÁS</a>
                    </div>
                </div>
                <div class="Producto-img img-5"></div>
                <div class="Producto-text">
                    <div>
                        <span class="Producto-text-title">Hebel®  Placa Termoasilante</span>
                        <span class="Producto-text-content">Recubrimiento sólido que aisla del frío y/o calor generando ahorros de por vida.</span>
                        <a href="#Contacto">CONOCE MÁS</a>
                    </div>
                </div>
                <div class="Producto-img img-6"></div>
            </div>
        </section>
        <section id="Contacto" class="Contacto">
            <div class="Contacto-hgroup">
                <h4 class="Contacto-title">Contáctanos</h4>
                <p class="Contacto-subtitle">Cotiza tu proyecto con nosotros <a href="#frm-contacto">aquí</a></p>
            </div>
            <div class="Contacto-boxContainer">
                <div class="Contacto-box">
                    <label>TELÉFONO</label>
                    <p>Monterrey y área metropolitana:
                        <br><a href="tel:+8183992400">(81) 8399 2400</a></p>
                    <p>Interior de la república:
                        <br><a href="tel:+018000093552">01 800 00 XELLA</a></p>
                    <label>CORREO</label>
                    <p><a href="mailto:ventasmexico@xella.com">ventasmexico@xella.com</a></p>
                </div>
                <div class="Contacto-box">
                    <form id="frm-contacto" action="email.php">
                        <div class="form-group">
                            <input type="text" name="nombre" required class="form-input" placeholder="Nombre">
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" required class="form-input" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input type="text" name="asunto" required class="form-input" placeholder="Asunto">
                        </div>
                        <div class="form-group">
                            <select class="form-input" id="iStateId" name="iStateId">
                                <option value="" selected readonly>Estado</option>
                                <option value="AGUASCALIENTES">AGUASCALIENTES</option>
                                <option value="BAJA CALIFORNIA NORTE">BAJA CALIFORNIA NORTE</option>
                                <option value="BAJA CALIFORNIA SUR">BAJA CALIFORNIA SUR</option>
                                <option value="CAMPECHE">CAMPECHE</option>
                                <option value="COAHUILA">COAHUILA</option>
                                <option value="COLIMA">COLIMA</option>
                                <option value="CHIAPAS">CHIAPAS</option>
                                <option value="CHIHUAHUA">CHIHUAHUA</option>
                                <option value="CIUDAD DE MÉXICO">CIUDAD DE MÉXICO</option>
                                <option value="DURANGO">DURANGO</option>
                                <option value="GUANAJUATO">GUANAJUATO</option>
                                <option value="GUERRERO">GUERRERO</option>
                                <option value="HIDALGO">HIDALGO</option>
                                <option value="JALISCO">JALISCO</option>
                                <option value="EDO DE MÉXICO">EDO DE MÉXICO</option>
                                <option value="MICHOACÁN">MICHOACÁN</option>
                                <option value="MORELOS">MORELOS</option>
                                <option value="NAYARIT">NAYARIT</option>
                                <option value="NUEVO LEÓN">NUEVO LEÓN</option>
                                <option value="OAXACA">OAXACA</option>
                                <option value="PUEBLA">PUEBLA</option>
                                <option value="QUERÉTARO">QUERÉTARO</option>
                                <option value="QUINTANA ROO">QUINTANA ROO</option>
                                <option value="SAN LUIS POTOSÍ">SAN LUIS POTOSÍ</option>
                                <option value="SINALOA">SINALOA</option>
                                <option value="SONORA">SONORA</option>
                                <option value="TABASCO">TABASCO</option>
                                <option value="TAMAULIPAS">TAMAULIPAS</option>
                                <option value="TLAXCALA">TLAXCALA</option>
                                <option value="VERACRUZ">VERACRUZ</option>
                                <option value="YUCATÁN">YUCATÁN</option>
                                <option value="ZACATECAS">ZACATECAS</option>
                                <option value="RESTO DEL PAIS">RESTO DEL PAIS</option>
                                <option value="EXTRANJERO">EXTRANJERO</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <textarea name="mensaje" id="" cols="5" rows="5" required class="form-input" placeholder="Mensaje"></textarea>
                        </div>
                        <button type="submit">ENVIAR</button>
                    </form>
                </div>
            </div>
        </section>
        <section id="certificaciones" class="Certificaciones">
            <h4 class="Certificaciones-title">Certificaciones y normatividad aplicable</h4>
            <div class="Certificaciones-cerContainer">
                <div class="Certificaciones-cer" data-aos="flip-left"><img src="../img/cer-1.png" alt=""></div>
                <div class="Certificaciones-cer" data-aos="flip-left"><img src="../img/cer-2.png" alt=""></div>
                <div class="Certificaciones-cer" data-aos="flip-left"><img src="../img/cer-3.png" alt=""></div>
                <div class="Certificaciones-cer" data-aos="flip-left"><img src="../img/cer-4.png" alt=""></div>
                <div class="Certificaciones-cer" data-aos="flip-left"><img src="../img/cer-5.png" alt=""></div>
                <div class="Certificaciones-cer" data-aos="flip-left"><img src="../img/cer-6.png" alt=""></div>
                <div class="Certificaciones-cer" data-aos="flip-left"><img src="../img/cer-7.png" alt=""></div>
            </div>
        </section>
    </div>
</div>