/**
 *
 * HEBEL WEB @zkar13
 *
 */
@font-face {
  font-family: 'bebas_neueregular';
  src: url('../fonts/bebasneue_2-webfont.woff2') format('woff2'), url('../fonts/bebasneue_2-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'din_mediumregular';
  src: url('../fonts/din_medium-webfont.woff2') format('woff2'), url('../fonts/din_medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  background: #fff;
  color: #000;
  font-family: bebas_neueregular, Cursiva;
}
a,
a:hover {
  text-decoration: none;
}
#page {
  padding: 55px;
}
@media only screen and (max-width: 529px) {
  #page {
    padding: 0;
  }
}
.menu-container {
  background: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 25px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (max-width: 529px) {
  .menu-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.menu-container .menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
@media only screen and (max-width: 529px) {
  .menu-container .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.menu-container .menu .menu-item {
  margin-right: 20px;
}
.menu-container .menu .menu-item a {
  font-size: 22px;
  text-decoration: none;
  color: #000;
  font-family: din_mediumregular, Helvetica;
  letter-spacing: -1px;
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
}
.menu-container .menu .menu-item a:hover,
.menu-container .menu .menu-item a.active {
  border-bottom: 2px solid #ff5113;
  color: #ff5113;
}
.menu-container #lang a {
  font-size: 20px;
  color: #000;
  margin-right: 8px;
}
.menu-container #lang a.active {
  background: #ff5113;
  border-radius: 50%;
  color: #fff;
  height: 24px;
  line-height: 24px;
  padding: 3px;
  width: 24px;
}
.menu-container #social {
  position: absolute;
  right: 3vw;
  top: 3vh;
}
.menu-container #social img {
  display: inline-block;
  margin-right: 8px;
}
/**
 *
 * INICIO
 *
 */
.Heroe {
  position: relative;
  padding: 15px;
}
.Heroe .Heroe-1 {
  background: #ff5113;
  color: #fff;
  height: 290px;
  padding: 15px;
  position: relative;
}
.Heroe .Heroe-1 .Heroe-1-text {
  font-size: 61px;
  line-height: 1;
}
@media only screen and (max-width: 529px) {
  .Heroe .Heroe-1 .Heroe-1-text {
    font-size: 40px;
  }
}
.Heroe .Heroe-1 .Heroe-aside {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.Heroe .Heroe-1 .Heroe-aside span,
.Heroe .Heroe-1 .Heroe-aside img {
  display: inline-block;
  vertical-align: middle;
}
.Heroe .Heroe-1 .Heroe-aside span {
  line-height: 1;
  font-size: 24px;
  text-align: right;
  font-family: din_mediumregular;
  margin-right: 8px;
}
.Heroe .Heroe-2,
.Heroe .Heroe-3 {
  text-align: center;
}
@media only screen and (max-width: 529px) {
  .Heroe .Heroe-2,
  .Heroe .Heroe-3 {
    margin: 10px 0;
  }
}
/**
 *
 * Page Container
 *
 */
.PageContainer {
  position: relative;
  background: #ccc url(../img/bgSection.png) repeat center center;
  margin-top: 20px;
  padding-bottom: 65px;
}
.PageContainer .PageContainer-content {
  background: #fff;
  max-width: 960px;
  margin: 0 auto;
}
/**
 *
 * 360
 *
 */
.section360 {
  background: #b7b7b7;
  text-align: center;
  padding: 45px 0 20px 0;
  color: #6f6f6f;
  font-family: din_mediumregular;
  text-transform: uppercase;
}
.section360 h4 {
  color: #6a6a6a;
  font-size: 28px;
}
/**
 *
 * Beneficios
 *
 */
.Beneficios {
  position: relative;
}
.Beneficios .Beneficios-title {
  color: #6a6a6a;
  font-size: 48px;
  text-align: center;
}
.Beneficios .Beneficios-subtitle {
  text-align: center;
  color: #000;
  font-size: 30px;
}
.Beneficios .Beneficios-container {
  margin: 50px 0 30px 0;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (max-width: 529px) {
  .Beneficios .Beneficios-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.Beneficios .Beneficios-container .Beneficios-beneficio {
  text-align: center;
  font-family: din_mediumregular, Helvetica;
}
.Beneficios .Beneficios-container .Beneficios-beneficio img {
  display: inline-block;
  height: 100px;
}
.Beneficios .Beneficios-container .Beneficios-beneficio span {
  display: block;
}
/**
 *
 * Quienes Somos
 *
 */
.QuienesSomos {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
@media only screen and (max-width: 529px) {
  .QuienesSomos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .QuienesSomos .QuienesSomos-left,
  .QuienesSomos .QuienesSomos-right {
    width: 100% !important;
  }
}
.QuienesSomos .QuienesSomos-left {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  background: #000 url(../img/HEBEL POWER PANEL 1.png) no-repeat center center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 25px;
  position: relative;
  width: 50%;
  z-index: 1;
}
.QuienesSomos .QuienesSomos-left:before {
  content: "";
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: -1;
}
.QuienesSomos .QuienesSomos-left ul {
  list-style: none;
}
.QuienesSomos .QuienesSomos-left ul li {
  background: url('../img/point.png') no-repeat left center;
  color: #fff;
  font-size: 30px;
  font-family: din_mediumregular;
  margin: 0 0 15px 0;
  padding-left: 44px;
}
.QuienesSomos .QuienesSomos-right {
  background: #ff5113;
  width: 59%;
  text-align: center;
  padding: 65px 35px;
}
.QuienesSomos .QuienesSomos-right > h2 {
  border-right: 5px solid #f15623;
  color: #fff;
  display: inline-block;
  font-family: din_mediumregular;
  font-size: 38px;
  letter-spacing: 5px;
  margin-bottom: 40px;
  padding-right: 8px;
}
.QuienesSomos .QuienesSomos-right p {
  color: #fff;
  font-family: din_mediumregular;
  font-size: 22px;
  line-height: 1.3em;
  text-align: left;
}
/**
 *
 * Productos
 *
 */
.Productos {
  position: relative;
  font-family: din_mediumregular;
}
.Productos .Productos-title {
  color: #6a6a6a;
  font-size: 28px;
  text-align: center;
  padding: 25px 0 50px 0;
}
.Productos .Producto-row {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
@media only screen and (max-width: 529px) {
  .Productos .Producto-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.Productos .Producto-row:nth-child(odd) .Producto-text:before {
  border-top: 30px solid transparent;
  border-right: 30px solid #f15623;
  border-bottom: 30px solid transparent;
  border-left: 30px solid transparent;
  right: 100%;
  left: auto;
}
.Productos .Producto-row .Producto-text,
.Productos .Producto-row .Producto-img {
  -webkit-flex-basis: 25%;
      -ms-flex-preferred-size: 25%;
          flex-basis: 25%;
}
@media only screen and (max-width: 529px) {
  .Productos .Producto-row .Producto-text,
  .Productos .Producto-row .Producto-img {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    height: 300px;
  }
}
.Productos .Producto-row .Producto-text {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f15623;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 35px 12px 25px 12px;
  position: relative;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.Productos .Producto-row .Producto-text:hover {
  background: #fff;
  color: #f15623;
}
.Productos .Producto-row .Producto-text:hover a {
  color: #f15623;
  border-color: #f15623;
}
.Productos .Producto-row .Producto-text:hover + .Producto-img {
  -webkit-animation: shadow-inset-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: shadow-inset-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.Productos .Producto-row .Producto-text:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  left: 100%;
  z-index: 9;
  border-top: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 30px solid #f15623;
}
@media only screen and (max-width: 529px) {
  .Productos .Producto-row .Producto-text:before {
    display: none;
  }
}
.Productos .Producto-row .Producto-text .Producto-text-title {
  margin-bottom: 14px;
  position: relative;
  display: block;
}
.Productos .Producto-row .Producto-text .Producto-text-title:before {
  content: "";
  position: absolute;
  top: 100%;
  width: 20px;
  background: #fff;
  height: 2px;
  left: 0;
}
.Productos .Producto-row .Producto-text .Producto-text-content {
  display: block;
  margin-bottom: 18px;
  line-height: 2em;
  font-weight: 400;
}
.Productos .Producto-row .Producto-text a {
  background: transparent;
  font-size: 14px;
  border-radius: 15px;
  border: 2px solid #fff;
  padding: 6px;
  color: #fff;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
.Productos .Producto-row .Producto-text a:hover {
  background: #f15623;
  color: #fff;
}
.Productos .Producto-row .Producto-img {
  background: #333;
  background-size: cover;
}
.Productos .Producto-row .Producto-img:hover {
  -webkit-animation: shadow-inset-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: shadow-inset-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.Productos .Producto-row .Producto-img.img-1 {
  background-image: url(../img/HEBEL SISTEMA MAP REF INTERIORMENTE 4.png);
}
.Productos .Producto-row .Producto-img.img-2 {
  background-image: url(../img/HEBEL PRACTIMURO 1.png);
}
.Productos .Producto-row .Producto-img.img-3 {
  background-image: url(../img/HEBEL POWER PANEL 1.png);
}
.Productos .Producto-row .Producto-img.img-4 {
  background-image: url(../img/HEBEL PANEL PARA MURO 4.png);
}
.Productos .Producto-row .Producto-img.img-5 {
  background-image: url(../img/HEBEL PANEL PARA LOSA 3.png);
}
.Productos .Producto-row .Producto-img.img-6 {
  background-image: url(../img/HEBEL PLACATERMOAISLANTE 3.png);
}
@-webkit-keyframes shadow-inset-center {
  0% {
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
  }
}
@keyframes shadow-inset-center {
  0% {
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
  }
}
/**
 *
 * Contacto
 *
 */
.Contacto {
  position: relative;
  background: #eee;
}
.Contacto .Contacto-hgroup {
  text-align: center;
  padding: 35px 0;
}
.Contacto .Contacto-title {
  color: #939395;
  font-size: 32px;
  letter-spacing: 5px;
  font-family: din_mediumregular;
  text-transform: uppercase;
}
.Contacto .Contacto-subtitle {
  color: #999999;
  font-family: din_mediumregular;
}
.Contacto .Contacto-subtitle a {
  color: #f15623;
}
.Contacto .Contacto-boxContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 65px;
}
@media only screen and (max-width: 529px) {
  .Contacto .Contacto-boxContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 15px;
  }
}
.Contacto .Contacto-boxContainer .Contacto-box {
  background: #fff;
  color: #999999;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  margin: 5px;
  padding: 65px;
}
.Contacto .Contacto-boxContainer .Contacto-box a {
  color: #999999;
}
.Contacto .Contacto-boxContainer .Contacto-box a:hover {
  color: #777;
}
@media only screen and (max-width: 529px) {
  .Contacto .Contacto-boxContainer .Contacto-box {
    padding: 20px;
    -webkit-flex-basis: 100% !important;
        -ms-flex-preferred-size: 100% !important;
            flex-basis: 100% !important;
  }
}
.Contacto .Contacto-boxContainer .Contacto-box:nth-child(1) {
  -webkit-flex-basis: 40%;
      -ms-flex-preferred-size: 40%;
          flex-basis: 40%;
}
.Contacto .Contacto-boxContainer .Contacto-box:nth-child(2) {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.Contacto .Contacto-boxContainer .Contacto-box label {
  color: #f15623;
  font-size: 20px;
  letter-spacing: 1px;
  display: block;
}
.Contacto .Contacto-boxContainer .Contacto-box p {
  font-family: din_mediumregular;
}
.Contacto .Contacto-boxContainer .Contacto-box .form-input {
  background: transparent;
  border: 0;
  border-bottom: 2px solid #eee;
  display: inline-block;
  width: 100%;
  font-family: din_mediumregular;
  color: #999b99;
}
.Contacto .Contacto-boxContainer .Contacto-box .form-input:focus {
  outline: none;
}
.Contacto .Contacto-boxContainer .Contacto-box button {
  background: #f15623;
  text-align: center;
  color: #fff;
  padding: 8px 40px;
  border: 0;
  border-radius: 2px;
  letter-spacing: 2px;
  box-shadow: 0px 3px 5px #ccc;
}
::-webkit-input-placeholder {
  color: #999999;
  opacity: 1;
}
::-moz-placeholder {
  color: #999999;
  opacity: 1;
}
:-ms-input-placeholder {
  color: #999999;
  opacity: 1;
}
::placeholder {
  color: #999999;
  opacity: 1;
}
:-ms-input-placeholder {
  color: #999999;
}
::-ms-input-placeholder {
  color: #999999;
}
/**
 *
 * Certificaciones
 *
 */
.Certificaciones {
  position: relative;
  padding-bottom: 25px;
  text-align: center;
}
.Certificaciones .Certificaciones-title {
  color: #6a6a6a;
  font-size: 30px;
  text-align: center;
  padding: 30px 0;
  font-family: din_mediumregular;
  text-transform: uppercase;
}
.Certificaciones .Certificaciones-cerContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
@media only screen and (max-width: 529px) {
  .Certificaciones .Certificaciones-cerContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.Certificaciones .Certificaciones-cerContainer .Certificaciones-cer {
  display: inline-block;
}
@media only screen and (max-width: 529px) {
  .Certificaciones .Certificaciones-cerContainer .Certificaciones-cer {
    margin-bottom: 45px;
  }
}
footer {
  background: #202020;
  padding: 30px;
  text-align: right;
  font-size: 12px;
  color: #fff;
  margin-top: 60px;
  font-family: din_mediumregular;
}
.scrollTop {
  position: fixed;
  right: 2%;
  bottom: 10px;
  background: #f15623 url(../img/up-chevron.svg) no-repeat center center;
  background-size: 50%;
  width: 32px;
  height: 32px;
  cursor: pointer;
  border-radius: 50%;
  sopacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
